header .__gris {
  background-color: #595E72;
  height: auto;
  display: flex;
  align-items: center;
}

header .__gris .container-fluid {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

.top-bar__link {
  font-size: 11px;
  width: 100%;
  text-align: right;
  font-weight: normal;
  margin: 0.5rem;
  transition: color 0.2s ease-out;
width: 100%;
}

.top-bar__link a {
  color: #FFFFFF;
  text-decoration: none;
}


/**********************************************************/


header .__blanco {
  background-color: #FFF;
  height: auto;
  display: flex;
  align-items: center !important;
  transition: all 0.4s ease-in-out, visibility 0.25s;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

header .__blanco .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding: 0 4rem;
}



.urban_logotipo {
  width: 200px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


.nav-bar__nav {
  margin: 0 -1rem;
  list-style: none;
}

.nav-bar__nav ul {
  list-style: none;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.nav-bar__nav ul li {
  display: inline;
}

.nav-bar__redes ul li {
  display: inline;
}

li {
  display: list-item;

}

.nav-bar__nav ul li a {
  text-decoration: none;
  text-decoration-line: none;
  padding-top: 15px;
  position: relative;
  margin: 0 1rem;
  transition: color 0.2s ease-out;
  color: #808080;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-bar__redes ul li a img {
  text-decoration: none;
  text-decoration-line: none;
  padding-top: 15px;
  position: relative;
  margin: 0 1rem;
  transition: color 0.2s ease-out;
  color: #808080;
  width: 30px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-bar__redes ul {
  text-align: end;
}










body{
  background: #EAEBEF;
  margin: 0;
  padding: 0;
}

.nav_main{
  width: 250px;
  background-color: #303440;
  margin: 0;
  position: absolute;
}

.nav__link{
  color: #FFFFFF;
  display: block;
  padding: 15px 0;
  text-decoration: none;
  font-weight: bold;
}

.nav_main ul li a{
  text-decoration: none;
  color: #FFFFFF;
}

.nav__link--inside{
  border-radius: 6px ;
  padding-left: 20px;
  margin-right: 10px;
  text-align: left;
}

.nav__link--inside:hover{
  background: #3F4A55;
  color: #303440;
}

.list{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #303440;
  padding: 0;
  margin: 10px 0 10px 0;
}

.list__item{
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list__item--click{
  cursor: pointer;
}

.list__button{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

.arrow .list__arrow{
  transform: rotate(90deg);
}

.list__arrow{
  margin-left: auto;
  transition: transform .3s;
}

.list__show{
  margin-top: 0;
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #FFFFFF;
  list-style: none;
  transition: height .4s;
  height: 0;
}
