<section>
    <div class="contenedorTotal">
        <div id="fondoSection">				
            <div class="contenedor">
                <div class="cabeceraContenido">
                    <img src="../../../../assets/Contactanos.jpg" alt="Imagen no encontrada">
                    <div class="textoEncima">Contáctanos</div>
                </div>
                
                <div id="contenido">
                    <h1>¿Cómo podemos ayudarte?</h1>
                    <p>Déjanos un mensaje, estaremos atento a resolver tus dudas.</p>
                    <form>
                        <div class="llenado">
                            <input class="cuadroTexto" type="text" autofocus="" name="nombre" required="required" pattern="[a-zA-Z\s]{5,}" placeholder="Nombres"/>
                            <br><br>
                            <input class="cuadroTexto" type="text" autofocus="" name="apellidos" required="required" pattern="[a-zA-Z\s]{5,}" placeholder="Apellidos"/>
                            <br><br>
                            <input class="cuadroTexto" type="email" name="correo" required="required" placeholder="Correo electrónico"/>
                            <br><br>
                            <input class="cuadroTexto" type="email" name="correo" required="required" placeholder="Teléfono"/>
                            <br><br>
                            <textarea name="descripcion" rows="4" cols="100" required="required" placeholder="Mensaje"></textarea>
                            <br>
                            <input type="checkbox" name="acepto" value="terminos">He leído y acepto los Términos y Condiciones y la Políticas de Privacidad
                        </div>

                        <input type="submit" value="Enviar mensaje" class="boton">

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="contenedorTotal">
        
        <div id="footerMedium">
            <a href="#"><img src="assets/twitter-cuadrado.ico" alt="Imagen no Encontrada"></a>
            <a href="#"><img src="assets/youtube-cuadrado.ico" alt="Imagen no Encontrada"></a>
            <a href="#"><img src="assets/facebook-cuadrado.ico" alt="Imagen no Encontrada"></a>
            <a href="#"><img src="assets/instagram-cuadrado.ico" alt="Imagen no Encontrada"></a>
        </div>
    </div>
        
    <div id="footerBottom">
        <p>© 2023 Urban Inmobiliaria. Todos los derechos reservados</p>
    </div>
</footer>
