<header>
  <div class="__gris">
    <div class="container-fluid">
          <div class="top-bar__link ">
            <a href="">Mi URB4N</a>
          </div>
    </div>
  </div>
  
  <div class="__blanco">
    <div class="container-fluid">
        <a class="urban_logotipo" href="/">
          <img src="assets/logo.png" class="img-fluid" alt="">
        </a>
        <div style="display:block;">
          <nav class="nav-bar__redes">
              <ul>
                <li><a href="">
                  <img src="assets/twitter-cuadrado.ico">
                </a></li>
                <li><a href="">
                  <img src="assets/youtube-cuadrado.ico">
                </a></li>
                <li><a href="">
                  <img src="assets/facebook-cuadrado.ico">
                </a></li>
                <li><a href="">
                  <img src="assets/instagram-cuadrado.ico">
                </a></li>
              </ul>
            </nav>

            <nav class="nav-bar__nav">
              <ul>
                <li><a href="">INICIO</a></li>
                <li><a href="">NOSOTROS</a></li>
                <li><a href="">PROPIEDADES</a> </li>
                <li><a href="">OFICINAS</a> </li>
                <li><a href="">ASESORES</a> </li>
                <li><a href="">CONTACTANOS</a> </li>
              </ul>
            </nav>
        </div>
        
    </div>
  </div>
</header>


<main >
  
<main>
  <div style=" float:left; height: 105vh; width: 250px; background: #303440;">

      <nav class="nav_main">
      <ul class="list">

          <li class="list__item">
              <div class="list__button">
                  
                  <a href="#" class="nav__link">INICIO</a>
              </div>
          </li>

          <li class="list__item list__item--click">
              <div class="list__button list__button--click">
                  
                  <a href="#" class="nav__link">MANTENIMIENTOS</a>
                  <img src="assets/arrow.svg" class="list__arrow">
              </div>

              <ul class="list__show">
                  <li class="list__inside">
                    <a routerLink="clientes" href="#" class="nav__link nav__link--inside">CLIENTES</a>
                  </li>

                  <li class="list__inside">
                    <a routerLink="propiedades" href="#" class="nav__link nav__link--inside">PROPIDADES</a>
                  </li>

                  <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">ASESORES</a>
                  </li>

                  <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">CITAS</a>
                  </li>

                  <li class="list__inside">
                    <a href="#" class="nav__link nav__link--inside">VENTAS</a>
                  </li>
              </ul>

          </li>

          <li class="list__item list__item--click">
              <div class="list__button list__button--click">
                  
                  <a href="#" class="nav__link">REPORTES</a>
                  <img src="assets/arrow.svg" class="list__arrow">
              </div>

              <ul class="list__show">
                  <li class="list__inside">
                      <a href="http://localhost:8080/api/reporte/cliente" class="nav__link nav__link--inside">CLIENTES</a>
                  </li>

                  <li class="list__inside">
                      <a href="http://localhost:8080/api/reporte/propiedad" class="nav__link nav__link--inside">PROPIEDADES</a>
                  </li>

                  <li class="list__inside">
                      <a href="http://localhost:8080/api/reporte/venta" class="nav__link nav__link--inside">VENTAS</a>
                  </li>
              </ul>

          </li>


          <li class="list__item">
              <div class="list__button">
                  
                  <a href="#" class="nav__link">CERRAR SESION</a>
              </div>
          </li>

      </ul>
  </nav>
      
  </div>
      
    
 

  
  <script src="./../../assets/js/crud/main.js"></script>

  <div style="margin-left:250px">

      <section>
    <div style="margin-left: 2%; 
    margin-right: 2%;">

          <router-outlet></router-outlet>

      


    </div>

  </section>
      
  </div>
  

  </main>

</main>

<!--

<footer style="display: block; height: 20px;">

<div style="height: 20px; background: red;">

</div>

</footer>

-->