<app-menu-izquierda></app-menu-izquierda>



<div style="margin-left:250px">

  <section>
    <div style="margin-left: 2%;
      margin-right: 2%;">




      <div class="card col-md-6">
        <div class="card-header">
          <h3> Agregar Asesor</h3>
        </div>

        <div class="card-body">
          <form action="">
            <div class="form-group">
              <label for="">Nombre:</label>
              <input type="text" [(ngModel)]="modelAsesor.nom_asesor" name="nom_asesor" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Apellido</label>
                <input type="text" [(ngModel)]="modelAsesor.ape_asesor" name="ape_asesor" class="form-control">
              </div>
              <div class="form-group">
                <label for="">Telefono</label>
                <input type="text" [(ngModel)]="modelAsesor.tel_asesor" name="tel_asesor" class="form-control">
              </div>

              <div class="form-group">
                <label for="">Correo Electronico</label>
                <input type="text" [(ngModel)]="modelAsesor.correo_asesor" name="correo_asesor" class="form-control">
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input type="text" [(ngModel)]="modelAsesor.pass_asesor" name="pass_asesor" class="form-control">
              </div>

              <div class="form-group">
                <label for="">Fecha creacion</label>
                <input type="text" [(ngModel)]="modelAsesor.fec_creacion" name="fec_creacion" class="form-control">
              </div>

              <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" [(ngModel)]="modelAsesor.flag_estado" name="flag_estado" class="form-control">
              </div>

            <button (click)="guardar(modelAsesor)" class="btn btn-danger">Guardar</button>

          </form>



        </div>

      </div>





    </div>

  </section>

</div>


