<section>
    <div class="contenedorTotal">
        <div id="fondoSection">				
            <div class="contenedor">
                <div class="cabeceraContenido">
                    <img src="../../../../assets/nosotros.jpg" alt="Imagen no encontrada">
                    <div class="textoEncima">NOSOTROS</div>
                    <br>
                </div>
                
                <div id="contenido">
                    <form>
                        <div class="llenado" style="width: 500px; margin: 0; display: inline-block; text-align: center;">
                            <h2>MISIÓN</h2>
                            <p>Desarrollamos soluciones habitacionales innovadoras y de calidad que cambian la vida de los peruanos, contribuyendo a hacer realidad el sueño de una vivienda propia, generando altos niveles de satisfacción a través de un servicio integral</p>
                            <br><br>
                            <h2>VISIÓN</h2>
                            <p>Ser reconocida como la empresa líder en el Perú en el desarrollo de proyectos habitacionales, innovadores, que mejoran la calidad de vida de las familias peruanas y contribuyen al progreso de las cuidades manteniendo un modelo de gestión que promueve el crecimiento y bienestar de nuestros colaboradores y maximiza el valor de la empresa.</p>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="contenedorTotal">
        
        <div id="footerMedium">
            <a href="#"><img src="assets/twitter-cuadrado.ico" alt="Imagen no Encontrada"></a>
            <a href="#"><img src="assets/youtube-cuadrado.ico" alt="Imagen no Encontrada"></a>
            <a href="#"><img src="assets/facebook-cuadrado.ico" alt="Imagen no Encontrada"></a>
            <a href="#"><img src="assets/instagram-cuadrado.ico" alt="Imagen no Encontrada"></a>
        </div>
    </div>
        
    <div id="footerBottom">
        <p>© 2023 Urban Inmobiliaria. Todos los derechos reservados</p>
    </div>
</footer>
