<!-- <app-menu-izquierda></app-menu-izquierda> -->
<div style="margin-left:250px">

  <section>
    <div style="margin-left: 2%;
    margin-right: 2%;">
      <div style="margin-left:250px">
        <h2>LISTADO DE ASESOR</h2>
      </div>

      <button (click)="nuevo()" class="btn btn-primary">Agregar</button>

      <br>
      <br>

      <script src="./../../assets/js/crud/table.js"></script>

      <table id="example" class="table table-striped">
        <thead>
          <tr>
            <th>Id Asesor</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo Electronico</th>
            <th>Password</th>
            <th>fec_creacion</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asesor of asesores">
            <th scope="row">{{asesor.id_asesor}}</th>
            <td>{{asesor.nom_asesor}}</td>
            <td>{{asesor.ape_asesor}}</td>
            <td>{{asesor.tel_asesor}}</td>
            <td>{{asesor.correo_asesor}}</td>
            <td>{{asesor.pass_asesor}}</td>
            <td>{{asesor.fec_creacion}}</td>
            <td>{{asesor.flag_estado}}</td>
            <td>
              <button (click)="editar(asesor)" class="btn btn-success">Editar</button>
              <button (click)="eliminar(asesor)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>

</div>
