<div class="card col-md-6">
    <div class="card-header">
      <h3> Actualizar Propiedad</h3>  
    </div>
  
    <div class="card-body"> 
      <form action="">
        <div class="form-group">
            <label for="">Dirección:</label>
            <input type="text" [(ngModel)]="propiedad.direccionPropiedad" name="direccionPropiedad" class="form-control">
        </div>
  
        <div class="form-group">
            <label for="">Ubigeo:</label>
            <select name="ubigeo" class="form-control" [(ngModel)]="propiedad.idUbigeo.id_ubigeo">
                <option>--Seleccionar--</option>
                <option *ngFor="let ubigeo of ubigeos | async" [value]="ubigeo.id_ubigeo">
                    {{ubigeo.distrito}}
                </option>
            </select>
            <!--
            <input type="text" [(ngModel)]="modelCliente.ape_cliente" name="ape_cliente" class="form-control">
            -->
        </div>

        <div class="form-group">
            <label for="">Tipo Propiedad:</label>
            <select name="tipo" class="form-control" [(ngModel)]="propiedad.idTipoPropiedad.id_tipo_propiedad">
                <option>--Seleccionar--</option>
                <option *ngFor="let tipo of tipo | async" [value]="tipo.id_tipo_propiedad">
                    {{tipo.tipo_propiedad}}
                </option>
            </select>
            <!--
            <input type="text" [(ngModel)]="modelCliente.ape_cliente" name="ape_cliente" class="form-control">
            -->
        </div>
  
        <div class="form-group">
            <label for="">Habitaciones:</label>
            <input type="text" [(ngModel)]="propiedad.cantidadHabitaciones" name="cantidadHabitaciones" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Baños:</label>
            <input type="text" [(ngModel)]="propiedad.cantidadBanhos" name="cantidadBanhos" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Area Total:</label>
            <input type="text" [(ngModel)]="propiedad.areaTotal" name="areaTotal" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Unidad Medida:</label>
            
            <select name="medida" class="form-control" [(ngModel)]="propiedad.idUnidadMedida.id_unidad_medida">
                <option>--Seleccionar--</option>
                <option *ngFor="let medida of medida | async" [value]="medida.id_unidad_medida">
                    {{medida.unidad_medida}}
                </option>
            </select>
            
            <!--
            <input type="text" [(ngModel)]="modelCliente.id_ubigeo.id_ubigeo" name="distrito" class="form-control">
            -->

        </div>

        <div class="form-group">
            <label for="">Precio:</label>
            <input type="text" [(ngModel)]="propiedad.precioVenta" name="precioVenta" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Disponibilidad:</label>
            <select name="disponibleVenta" class="form-control" [(ngModel)]="propiedad.disponibleVenta">
                <option>--Seleccionar--</option>
                <option value="true">DISPONIBLE</option>
                <option value="false">VENDIDO</option>
            </select>
        </div>
        <!--
        <div class="form-group">
            <label for="">Estado:</label>
            <input type="text" [(ngModel)]="modelCliente.flag_estado" name="distrito" class="form-control">
        </div>
        -->
        <button (click)="actualizar(propiedad)" class="btn btn-danger">Guardar</button>
  
      </form>
  
  
  
    </div>
  
  </div>


