<app-menu-izquierda></app-menu-izquierda>

<div style="margin-left:250px">

  <section>
    <div style="margin-left: 2%;
    margin-right: 2%;">



      <div>
        <h2>LISTADO DE CLIENTES</h2>
      </div>

      <button (click)="nuevo()" class="btn btn-primary">Agregar</button>

      <br>
      <br>

      <script src="./../../assets/js/crud/table.js"></script>

      <table id="example" class="table table-striped">
        <thead>
          <tr>
            <th>Id Cliente</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Ubigeo</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Accciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <th scope="row">{{cliente.id_cliente}}</th>
            <td>{{cliente.nom_cliente}}</td>
            <td>{{cliente.ape_cliente}}</td>
            <td>{{cliente.documento}}</td>
            <td>{{cliente.id_ubigeo.distrito}}</td>
            <td>{{cliente.dir_cliente}}</td>
            <td>{{cliente.tel_cliente}}</td>
            <td>{{cliente.correo_cliente}}</td>
            <td>
              <button (click)="editar(cliente)" class="btn btn-success">Editar</button>
              <button (click)="eliminar(cliente)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>








    </div>

  </section>

</div>
