<main>
  <div class="menu-container">
    <nav class="nav_main">
      <ul class="list">
        <li *ngFor="let item of menuItems" class="list__item">
          <div class="list__button" (click)="toggleSubMenu(item)">
            <a class="nav__link">{{ item.titulo }}</a>
            <img *ngIf="item.submenu" src="assets/arrow.svg" class="list__arrow">
          </div>
          <ul *ngIf="item.submenu" class="submenu" [ngClass]="{'show': item.active}">
            <li *ngFor="let subMenuItem of item.submenu" class="list__inside">
              <a [routerLink]="subMenuItem.url" class="nav__link nav__link--inside">{{ subMenuItem.titulo }}</a>
            </li>
          </ul>
        </li>
        <!-- <div class="list__button" (click)="toggleSubMenu(item)"> -->
        <!-- <li class="list__item list__item--click">
          <div class="list__button">
            <a class="nav__link">Reportes</a>
            <img src="assets/arrow.svg" class="list__arrow">
          </div>
          <ul class="submenu">
            <li class="list__inside">
              <a href="http://localhost:4200/api/reporte/cliente" class="nav__link nav__link--inside">Clientes</a>
            </li>
          </ul>

        </li> -->
<!-- 
        <li class="list__item list__item--click">
          <div class="list__button list__button--click">

            <a href="#" class="nav__link">REPORTES</a>
            <img src="assets/arrow.svg" class="list__arrow">
          </div>

          <ul class="list__show">
            <li class="list__inside">
              <a href="http://localhost:8080/api/reporte/cliente" target="_blank" class="nav__link nav__link--inside">CLIENTES</a>
            </li>

            <li class="list__inside">
              <a href="#" class="nav__link nav__link--inside">CITAS</a>
            </li>

            <li class="list__inside">
              <a href="#" class="nav__link nav__link--inside">VENTAS</a>
            </li>
          </ul>

        </li> -->

      </ul>
    </nav>
  </div>
</main>


<script src="../../../../assets/js/crud/main.js"></script>

<!-- ../../../../assets/js/crud/main.js -->